@import './prose.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sreda';
    src: url('../assets/Sreda.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('../assets/Caveat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

html, body {
    @apply bg-gradient-to-br from-[#0c0c0c8e] via-[#030303ea] to-[#201c1c] text-gray-100 antialiased;
}

body {
    font-family: 'Caveat', cursive;
    transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6, nav a, .font-display {
    font-family: 'Sreda', serif;
}

/* Simple container */
.container { 
    @apply max-w-4xl mx-auto px-6; 
}

/* Add a card style for sections */
.card {
    @apply bg-[#242424] rounded-lg shadow-lg p-6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    @apply shadow-xl transform scale-105;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 50;
  }