@import './prose.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply antialiased;
    font-family: 'Orbitron', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  }

  body {
    @apply bg-gradient-to-br from-[#0c0c0c8e] via-[#030303ea] to-[#201c1c] text-gray-100;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Dark mode styles when the "dark" class is present on <html> */
  .dark body {
    @apply text-gray-100;
    background: linear-gradient(to bottom right, #030712, #0b1220);
  }
}

/* Simple container */
.container { 
    @apply max-w-4xl mx-auto px-6; 
}

/* Add a card style for sections */
.card {
    @apply bg-[#242424] rounded-lg shadow-lg p-6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    @apply shadow-xl transform scale-105;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 50;
  }
