---
---
<footer class="border-t mt-16 py-8 container mx-auto text-center">
<div class="container text-sm text-gray-200">
<p>© {new Date().getFullYear()} Isaac Talb</p>
<p class="mt-2"> · GitHub: <a class="underline text-blue-600" href="https://github.com/IsaacTalb">@IsaacTalb</a></p>
</div>
</footer>