---
---
<nav class="container py-6 flex items-center justify-between">
<a href="/" class="font-semibold">isaactalb</a>
    <div class="space-x-4 text-sm">
        <a href="/about">about</a>
        <a href="/projects">projects</a>
        <a href="/blog">blogs</a>
        <a href="/contact">contact</a>
    </div>
</nav>